<!DOCTYPE html>
<html>
<head>
    <title>Subscription Plans</title>
    <link href="{{ url_for('static', filename='style1.css')}}" rel="stylesheet">
</head>
<body>
    <div class="subscription-container" style="padding-top: 120px;" >
        <div class="subscription-column"style="background-color: white">
            <h3>Free</h3>
            <div class="subscription-points">
                <div class="point"><span class="green-check"></span>Prediction based on historical data</div>
                <div class="point"><span class="green-check"></span>Stock News</div>
                <div class="point"><span class="green-check"></span>Interactive charts/graphs</div>
                <div class="point"><span class="green-check"></span>Volume, prediction accuracy</div>
                <div class="point"><span class="red-cross"></span>Expert Knowledge</div>
                <div class="point"><span class="green-check"></span>Daily Update</div>
                <div class="point"><span class="red-cross"></span>Hourly Update</div>
                <div class="point"><span class="red-cross"></span>Recommendation on Mobile App</div>
            </div>
            <div class="subscription-price">
                <p>Free</p>
                <a href="{{ url_for ('index')}}" class="submit-button">
                    Submit
                </a>
            </div>
        </div>
        <div class="subscription-column"style="background-color: rgb(191, 189, 189)" >
            <h3>Plus <span class="lock-icon">&#128274;</span> </h3>
            <div class="subscription-points">
                <div class="point"><span class="green-check"></span>Prediction based on historical data</div>
                <div class="point"><span class="green-check"></span>Stock News</div>
                <div class="point"><span class="green-check"></span>Interactive charts/graphs</div>
                <div class="point"><span class="green-check"></span>Volume, prediction accuracy</div>
                <div class="point"><span class="green-check"></span>Expert Knowledge</div>
                <div class="point"><span class="green-check"></span>Daily Update</div>
                <div class="point"><span class="green-check"></span>Hourly Update</div>
                <div class="point"><span class="red-cross"></span>Recommendation on Mobile App</div>
            </div>
            <div class="subscription-price">
                <p>479/-</p>
                <a href="" class="submit-button">
                    Submit
                </a>
            </div>
        </div>
        <div class="subscription-column" style="background-color: rgb(191, 189, 189)">
            <h3>Premium <span class="lock-icon">&#128274;</span>   </h3>
            <div class="subscription-points">
                <div class="point"><span class="green-check"></span>Prediction based on historical data</div>
                <div class="point"><span class="green-check"></span>Stock News</div>
                <div class="point"><span class="green-check"></span>Interactive charts/graphs</div>
                <div class="point"><span class="green-check"></span>Volume, prediction accuracy</div>
                <div class="point"><span class="green-check"></span>Expert Knowledge</div>
                <div class="point"><span class="green-check"></span>Daily Update</div>
                <div class="point"><span class="green-check"></span>Hourly Update</div>
                <div class="point"><span class="green-check"></span>Recommendation on Mobile App</div>
            </div>
            <div class="subscription-price">
                <p>979/-</p>
                <a href="" class="submit-button">
                    Submit
                </a>
            </div>
        </div>
    </div>
</body>
</html>
