<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>STOCKIFY</title>
    <!-- Stylesheets & Fonts -->
    <link href="{{ url_for('static', filename='css2')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
</head>

<body>

    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="" class="logo d-flex align-items-center">
                <img src="{{ url_for('static', filename='stocki.png')}}" alt="" />
                <span class="d-none d-lg-block">STOCKIFY</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>

        <!-- End Logo -->

        <!-- Tagline -->
        <div class="d-flex align-items-center justify-content-between"></div>
        <span class="d-none d-lg-block">Empowering Investors</span>
    </header>
    <!-- Body Inner -->

    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a href="{{ url_for ('TCS_tech')}}" class="nav-link">
                    <i class="bi bi-grid"></i>
                    <span>Tech Analysis - TCS</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->

            <li class="nav-item">
                <a href="{{ url_for ('TCS_pred')}}" class="nav-link collapsed">
                    <i class="bi bi-file-person"></i>
                    <span>Prediction - TCS</span>
                </a>
            </li>
            <!-- End Login Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed">
                    <i class="bi bi-gear"></i>
                    <span>News</span>
                </a>
            </li>
        </ul>
    </aside>

    <!-- Page Content -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Stock Prices</h3>
                    </div>
                    <div class="card-body">
                        {{ graph_div1 | safe }}
                    </div>
                    <div class="graph-info">
                        <p>This is some information related to the Stock Price graph.</p>
                        <p>Click here</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Simple Moving Average</h3>
                    </div>

                    <div class="card-body">
                        <!-- Graph Div 2 - Simple Moving Average -->
                        {{ graph_div2 | safe }}
                    </div>
                    <div class="graph-info">
                        <p>This is some information related to the Simple Moving Average graph.</p>
                        <p>Click here</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Exponential Moving Average</h3>
                    </div>

                    <div class="card-body">
                        <!-- Graph Div 3 - Exponential Moving Average -->
                        {{ graph_div3 | safe }}
                    </div>
                    <div class="graph-info">
                        <p>This is some information related to the Exponential Moving Average graph.</p>
                        <p>Click here</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Relative Strength Index (RSI)</h3>
                    </div>
                    <div class="card-body">
                        <!-- Graph Div 2 - Simple Moving Average -->
                        {{ graph_div4 | safe }}
                    </div>
                    <div class="graph-info">
                        <p>This is some information related to the Relative Strength Index (RSI) graph.</p>
                        <p>Click here</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- end: Page Content -->
    <!-- Footer -->

    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
    <!-- charts.js component-->
    <script src="plugins/chartjs/chart.min.js"></script>
    <script src="plugins/chartjs/utils.js"></script>
    <script src="plugins/moment/moment.min.js"></script>
    <script>
        var presets = window.chartColors;
        var utils = Samples.utils;
        var inputs = {
            min: -100,
            max: 100,
            count: 8,
            decimals: 2,
            continuity: 1
        };

        function generateData(config) {
            return utils.numbers(Chart.helpers.merge(inputs, config || {}));
        }

        function generateLabels(config) {
            return utils.months(Chart.helpers.merge({
                count: inputs.count,
                section: 3
            }, config || {}));
        }
        var options = {
            maintainAspectRatio: false,
            spanGaps: false,
            elements: {
                line: {
                    tension: 0.000001
                }
            },
            plugins: {
                filler: {
                    propagate: false
                }
            },
            scales: {
                xAxes: [{
                    ticks: {
                        autoSkip: false,
                        maxRotation: 0
                    }
                }]
            }
        };
        [false, 'origin', 'start', 'end'].forEach(function(boundary, index) {
            // reset the random seed to generate the same data for all charts
            utils.srand(8);
            new Chart('chart-' + index, {
                type: 'line',
                data: {
                    labels: generateLabels(),
                    datasets: [{
                        backgroundColor: utils.transparentize(presets.red),
                        borderColor: presets.red,
                        data: generateData(),
                        label: 'TCS',
                        fill: boundary
                    }]
                },
                options: Chart.helpers.merge(options, {
                    title: {
                        text:'TCS',
                        
                    }
                })
            });
        });
    </script>
</body>

</html>

